* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* body {
    
}
*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 13px;
    padding: 21px 24px;        
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 15px;
    padding: 21px 24px;
    background: #EEEEEE;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    max-width: 100%;
    height: auto;
}