* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* body {
    
}
*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 13px;
    padding: 21px 24px;        
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 15px;
    padding: 21px 24px;
    background: #EEEEEE;
    color: #CCCCCC;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Logo Settings */

.logo {
    max-width: 100%;
    height: auto;
    margin-top: 99px;
}

/* Search Bar Settings */



/* Button Settings */

button {
    height: 40px;
    width: 140px;
    color: grey;
    font-size: 14px;
    border: 0px;
    border-radius: 5px;
    background: #ebebeb;
}
button:hover {
    color: black;
    margin: 0px;
    border: 1px solid #CCCCCC;
    background: #f0f0f0;
    cursor: pointer;
}